<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>404 Error</title>
    </head>
    <body>
        <section class="404-page">
            <h1 style="text-align: center">ERROR: Incorrect GET Request</h1>
            <div
                class="container"
                style="
                    background: #e7e9eb;
                    margin: 0 10px;
                    padding: 10px;
                    margin-top: 20px;
                "
            >
                <div
                    class="explanation-box"
                    style="
                        background: white;
                        padding: 10px;
                        border-left: 3px solid red;
                    "
                >
                    <p>Please enter the correct URL parameter</p>
                    <p>Example:</p>
                    <p>http://127.0.0.1:8080/image-scrapper?url=YOURURL</p>
                </div>

                <a href="/" style="display: block; margin: 20px 0 10px"
                    >Return to Homepage</a
                >
            </div>
        </section>
    </body>
</html>
